@tailwind base;
@tailwind components;
@tailwind utilities;

.glass{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.32);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.3px);
-webkit-backdrop-filter: blur(8.3px);
border: 1px solid rgba(255, 255, 255, 0.47);
}

.shadow-inset {
    box-shadow: inset 0 0 30px gray;
  }

  .heading {
    
    @apply relative z-10  text-center w-[60vw] lg:w-fit font-bold text-2xl lg:text-4xl uppercase   mx-auto py-2
}

.heading::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 80%;
    border-color: #f9cb50;
    border-width: 2px 0 0 2px; /* Top: 0, Right: 10px, Bottom: 10px, Left: 0 */
    border-style: solid;
@apply top-[-30px] left-[-30px] -z-30
}

.heading::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 80%;
    border-color: #f9cb50;
    border-width: 0 2px 2px 0; /* Top: 0, Right: 10px, Bottom: 10px, Left: 0 */
    border-style: solid;
    @apply bottom-[-30px] right-[-30px] -z-30
}

:root {
    --cards:5;
    --cardTopPadding:4em;
    --cardMargin:1vw;

}

.cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), 250px);
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
}
#card3 {
	--index: 3;
}
#card4 {
	--index: 4;
}
#card5 {
	--index: 5;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body {
	background-color: #013947;
}
#card2 .card-body {
	/* background-color: #7EC4CF; */
	background-color: #013947;
}
#card3 .card-body {
	background-color: #013947;
}
#card4 .card-body {
	background-color: #013947;
}
#card5 .card-body {
	background-color: #013947;
}

.card-body {
	box-sizing: border-box;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
    @apply p-4 rounded-2xl  transition-all w-[300px] sm:w-[400px] md:w-[450px] h-[300px]
}