@tailwind base;
@tailwind components;
@tailwind utilities;




.sidebar-hidden {
	transform: translateX(100%);
	opacity: 0;
	pointer-events: none;
  }
  
  .sidebar-visible {
	transform: translateX(0);
	opacity: 1;
	pointer-events: auto;
  }
  
  /* Apply hover color only to immediate child <a> elements */
  .sidebar-subdropdown > li > a:hover {
	color: rgb(251 146 60);
  }
  
  /* Apply hover color only to immediate child <a> elements of nested submenu */
  .sidebar-subdropdown > li > ul > li > a:hover {
	color: rgb(251 146 60);
  }
  
  .sidebar-subdropdown li a {
	color: inherit;
	text-decoration: none;
	display: block;
  }
  
  .sidebar-subdropdown li {
	transition: background-color 0.3s;
  }
  
  .sidebar-subdropdown li:hover {
	background-color: #1e293b; /* Apply your hover background color here */
  }
  
  .sidebar-visible li > .sidebar-subdropdown{
  
	animation: slidedown .3s;
  }
  /* Add this to your CSS file */
  .group {
	transition-property: all;
	transition-duration: 0.3s; /* Adjust the duration as needed */
	transition-timing-function: ease-in-out; /* Adjust the timing function as needed */
  }
  
  
  .dropdown {
	opacity: 0;
	height: 0px;
	transform: translateY(-10%);
	padding:0px;
	transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out, height 0.2s ease-in-out, padding 0.2 ease-in-out;
  }
  
  .dropdown-enter {
	opacity: 1;
	height: 500px;
	padding:40px;
	transform: translateY(0%);
  }
  
  .dropdown-exit {
	opacity: 0;
	height: 0px;
	padding:0px;
	transform: translateY(-10%);
  }
  

.glass{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.32);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.3px);
-webkit-backdrop-filter: blur(8.3px);
border: 1px solid rgba(255, 255, 255, 0.47);
}

.shadow-inset {
    box-shadow: inset 0 0 30px gray;
  }

  .heading {
    
    @apply relative z-10  text-center w-[90vw] lg:w-[80%] font-bold text-2xl lg:text-4xl uppercase mx-auto 
}

:root {
    --cards:8;
    --cardTopPadding:4em;
    --cardMargin:1vw;

}

.scrollbar-component {
  overflow-y: auto;
  height: 100px; /* Adjust the height as needed */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-component::-webkit-scrollbar {
  width: 6px; /* Adjust the scrollbar width as needed */
}

.scrollbar-component::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px; /* Adjust the scrollbar thumb radius as needed */
}

.scrollbar-component:hover::-webkit-scrollbar-thumb {
  background-color: #414141; /* Adjust the scrollbar thumb color as needed */
}
.cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), 250px);
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
}
#card3 {
	--index: 3;
}
#card4 {
	--index: 4;
}
#card5 {
	--index: 5;
}
#card6 {
	--index: 6;
}
#card7 {
	--index: 7;
}

.card {
	position: sticky;
	top: 120px;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body {
	background-color: #013947;
}
#card2 .card-body {
	/* background-color: #7EC4CF; */
	background-color: #013947;
}
#card3 .card-body {
	background-color: #013947;
}
#card4 .card-body {
	background-color: #013947;
}
#card5 .card-body {
	background-color: #013947;
}
#card6 .card-body {
	background-color: #013947;
}
#card7 .card-body {
	background-color: #013947;
}

.card-body {
	box-sizing: border-box;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
    @apply p-3 sm:p-4 rounded-2xl  transition-all w-[300px] sm:w-[400px] md:w-[450px] h-[300px]
}

.bubble-hover {
    position: relative;
    overflow: hidden;
}

.bubble-hover::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 300%;
    transition: width 0.4s ease-out, height 0.4s ease-out, top 0.4s ease-out, left 0.4s ease-out;
    z-index: -1;
    border-radius: 9999px;
    @apply bg-tertiary 
  }

  .bubble-hover:hover::before {
    width: 300%;
    height: 300%;
    top: -100%;
    left: -100%;

}

.scrollable-container {
  max-height: 620px; /* Set your desired height */
  overflow-y: scroll; /* Enable vertical scrolling */
  scrollbar-width: thin; 
  scrollbar-color: #f27220 transparent;
  @apply max-w-2xl /* Set the scrollbar color (optional) */

}

/* For Webkit browsers (Chrome, Safari) */
.scrollable-container::-webkit-scrollbar {
  width: 2px;

   /* Set the scrollbar width (optional) */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: gray; /* Set the thumb color to be transparent */
}

.content {
  @apply  my-12 px-3 max-w-7xl mx-auto
}

.content h2{
  @apply text-2xl sm:text-3xl md:text-4xl font-bold my-5 text-primary
}


.content h3{
  @apply  text-xl sm:text-xl md:text-2xl font-semibold my-3 text-gray-700
}

.content h4 {
  @apply text-lg md:text-xl font-semibold my-2 text-gray-700
}

.content p {
  @apply text-sm 
}

.content ul{ 
  @apply text-sm my-2 list-disc pl-5
}

.content ul li {
  @apply my-1
}


.home-content {
  @apply my-2
}

.home-content h2{
  @apply text-3xl font-bold my-3 text-primary
}

.home-content h3 {
  @apply text-2xl font-bold my-2 text-tertiary
}

.home-content ul {
  @apply ml-4 list-disc
}
.home-content p {
  @apply text-sm sm:text-base my-1
}

.quote {
  @apply text-center text-primary font-semibold mt-5 mx-4
}